.navbar {
  margin-top: 1%;
  margin-bottom: 0px;
  border-radius: 0px !important;
  border-bottom: 4px solid #ff6202;
}
i {
  color: #ff6202;
}
.arrow-icon {
  position: absolute;
  margin-top: -63px;
  transform: rotate(-119deg);
}
.arrow-msg {
  top: -5px;
  margin-left: 78%;
  color: #ff6202;
  position: absolute;
}
span {
  color: #ff6202;
}
.vr {
  margin-top: 1%;
  margin-bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  content: "";
  border: 1px solid #ff6202;
}
.vbreak {
  margin-left: auto;
  height: 35%;
  width: 0px;
  content: "";
  border: 1px solid #ff6202;
}
.dotted {
  margin-top: 75px;
  margin-left: 65%;
  content: "";
  position: absolute;
  border: 3px dashed #ff6202;
  width: 65%;
}
.dotted2 {
  margin-top: 75px;
  margin-left: 65%;
  content: "";
  position: absolute;
  border: 3px dashed #ff6202;
  width: 65%;
}
.btn-quote {
  border-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff6202;
}
.btn-quote a {
  color: white;
}
.btn-quote a:hover {
  text-decoration: none;
}
.btn-quote:hover {
  border: 1px solid #ff6202;
  background-color: white;
}
.btn-quote:hover a {
  color: #ff6202;
}
.dottedV {
  margin-left: auto;
  margin-right: auto;
  content: "";
  border: 3px dashed #ff6202;
  height: 70px;
  width: 0%;
}
.dottedC {
  margin-top: 75px;
  margin-left: 65%;
  content: "";
  position: absolute;
  border: 3px dashed #ff6202;
  width: 5%;
}
.banner {
  width: 100%;
  color: white;
}
.banner h1,
.banner h2,
.banner h3 {
  text-align: center;
}
.indextron {
  margin-top: 0px;
  border-radius: 0px !important;
  background: url(../img/stock_imgs/top-down-desk.jpg) center no-repeat;
  background-size: cover;
}
.indextron .contact {
  margin-left: auto;
  margin-right: 5%;
  width: 55%;
}
.indextron .contact [disabled],
.indextron .contact [selected] {
  color: #ff9500;
}
.indextron .contact ::-webkit-input-placeholder {
  color: #ff9500;
}
.indextron .contact :-moz-placeholder {
  /* Firefox 18- */
  color: #ff6202;
}
.indextron .contact ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ff6202;
}
.indextron .contact :-ms-input-placeholder {
  color: #ff6202;
}
.indextron .contact label {
  margin-top: 2%;
  margin-bottom: 0px;
  color: white;
}
.indextron .contact input,
.indextron .contact select,
.indextron .contact textarea {
  color: #ff6202;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.indextron .contact textarea {
  height: 15%;
}
.indextron button {
  background-color: #ff6202;
  color: white;
  border: none;
  margin-top: 2.5%;
}
.success {
  border-bottom: 4px solid #ff6202;
  background: url(../img/stock_imgs/iphoney.jpeg) center no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 700px;
}
.success .btn-quote {
  margin-top: 30px;
}
section h1 {
  text-align: center;
}
section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section .process h3 {
  text-align: center;
}
section .process i {
  margin-top: 50px;
}
#about {
  padding: 3%;
}
#about i:nth-child(-n+3) {
  margin-right: 5%;
}
.carousel {
  height: 50%;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}
.carousel-inner {
  border-radius: 10px;
}
.carousel-inner > .item > img {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
}
#projects {
  background: #ff6202;
}
#projects i,
#projects span {
  color: #ff9500;
}
#projects h1 {
  color: white;
}
footer {
  background: #ff6202;
  height: 25px;
  width: 100%;
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  .success .banner {
    padding: 2%;
    background: rgba(55, 55, 55, 0.7) !important;
  }
  .success .banner .btn-quote {
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1220px) {
  .dotted,
  .dotted2 {
    width: 60%;
  }
}
@media screen and (min-width: 300px) and (max-width: 991px) {
  .dotted,
  .dotted2,
  .dottedV,
  .dottedC,
  .vbreak,
  .arrow-msg,
  .arrow-icon {
    display: none !important;
  }
  .contact {
    margin-right: auto !important;
  }
}
